@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@1,900&display=swap");

* {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
}

.nav-link {
    text-decoration: none;
}

:root {
    --color-text-1-dark: 'rgb(237, 242, 247)';
    --color-line-dark: '#2d3748';
}

/* Tắt tùy chỉnh autofill của trình duyệt */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    background-color: transparent !important;
}

.pad64px {
    padding: 64px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}