.loginModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000000000000000000000000000000000;
}

.loginModal__backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.loginModal__content {
    position: relative;
    background-color: white;
    padding: 36px;
    border-radius: 10px;
    width: 800px;
    z-index: 1001;
}

.loginModal__content .note {
    font-size: 12px;
    margin-top: 16px;
}

.loginModal__content .note a {
    text-decoration: underline !important;
}

.loginModal__closeBtn {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    background: none;
    cursor: pointer;
    color: #666;
}

/* Thêm các định dạng cho form và các nút nếu cần */
