.main-layout {
    height: 100vh;
    overflow-y: scroll;
    /* Giữ thanh cuộn dọc */
    overflow-x: hidden;
    background-color: #0e1320;
    color: #edf2f7;
    flex-grow: 1;
}

.main {
    display: flex;
    width: 100vw;
}