.appContainer,
.appContainer__cart,
.appContainer__checkout,
.appContainer__searchPage {
    max-width: var(--max-width);
    display: flex;
    margin: 0 auto;
    border-radius: 8px;
}

.appContainer__profile,
.appContainer__orderAddress {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    border-radius: 8px;
}

.appContainer__category {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    border-radius: 8px;
}

.appContainer__detail {
    max-width: var(--max-width);
    display: flex;
    margin: 0 auto;
    border-radius: 8px;
}

.appContainer__detail--review {
    max-width: var(--max-width);
    display: flex;
    margin: 0 auto;
    border-radius: 8px;
}

.appContainer__content {
    margin-top: 16px;
}

@media only screen and (max-width: 1360px) and (min-width: 1200px) {
    .appContainer,
    .appContainer__cart,
    .appContainer__checkout,
    .appContainer__searchPage {
        width: 1200px !important;
        display: flex;
        margin: 0 auto;
        border-radius: 8px;
    }

    .appContainer__profile,
    .appContainer__orderAddress {
        width: 1080px !important;
        display: flex;
        margin: 0 auto;
        border-radius: 8px;
    }

    .appContainer__category {
        width: 1200px !important;
        display: flex;
        margin: 0 auto;
        border-radius: 8px;
    }

    .appContainer__detail {
        width: 1200px !important;
        display: flex;
        margin: 0 auto;
        border-radius: 8px;
    }

    .appContainer__detail--review {
        width: 1200px !important;
        display: flex;
        margin: 0 auto;
        border-radius: 8px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1080px) {
    .appContainer,
    .appContainer__cart,
    .appContainer__checkout,
    .appContainer__searchPage {
        width: 1080px !important;
        display: flex;
        margin: 0 auto;
        border-radius: 8px;
    }

    .appContainer__profile,
    .appContainer__orderAddress {
        width: 1080px !important;
        display: flex;
        margin: 0 auto;
        border-radius: 8px;
    }

    .appContainer__category {
        width: 1080px !important;
        display: flex;
        margin: 0 auto;
        border-radius: 8px;
    }

    .appContainer__detail {
        width: 1080px !important;
        display: flex;
        margin: 0 auto;
        border-radius: 8px;
    }

    .appContainer__detail--review {
        width: 1080px !important;
        display: flex;
        margin: 0 auto;
        border-radius: 8px;
    }
}
