.appContainer,
.appContainer__cart,
.appContainer__checkout,
.appContainer__searchPage {
    width: var(--max-width);
    display: flex;
    margin: 0 auto;
    border-radius: 8px;
}

.appContainer__profile {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    border-radius: 8px;
}

.appContainer__category {
    width: 1280px;
    display: flex;
    margin: 0 auto;
    border-radius: 8px;
}

.appContainer__detail {
    width: var(--max-width);
    display: flex;
    margin: 0 auto;
    border-radius: 8px;
}

.appContainer__detail--review {
    width: var(--max-width);
    display: flex;
    margin: 0 auto;
    border-radius: 8px;
}

.appContainer__content {
    margin-top: 16px;
}
