.appContainer__banner {
    /* margin-left: 12px; */
    background-color: #fff;
    border-radius: 8px;
    padding: 15px !important;
}

.appContainer__banner a {
    transition: 0.3s ease;
}

.appContainer__banner a:hover {
    opacity: 0.9;
}

.appContainer__banner--main {
    padding-right: 12px;
}
